[2022-05-19 20:35] matthewlinks opened #2 "comment for README.md"
Under Developer Quickstart you may want to change the URL to https://github.com/nanoporetech/dorado.git

cheers,

Matt

[2022-05-19 23:39] vellamike commented on #2
Well spotted :) thanks!

[2022-05-19 23:39] #2 closed

[2022-05-20 08:37] adbeggs opened #3 "Compile issues"
Trying to compile on the P24 (also have tried our A100 HPC). getting the following:

[code]

Any ideas? Initially it was complaining that it couldn't find hdf at all so I sudo apt install libhdf5-dev

Thanks

Andrew

[2022-05-20 08:41] adbeggs commented on #3
Actually scratch that I solved it with sudo apt install libzstd-dev... there are some undocumented dependencies that need putting on this repo:
cmake
libhdf5-dev
libzstd-dev

I'll add more as I get through the process

[2022-05-20 09:46] mcrone commented on #3
I get this when running this command: `cmake --build cmake-build --config Release -- -j`

[code]

lib.h doesn't seem to exist anywhere in the repository or code, other than in GPUDecoder.cpp.

[2022-05-20 10:17] vellamike commented on #3
@adbeggs Thanks for flagging this - I documented the dependencies now.

@mcrone we are looking into your issue.

[2022-05-20 10:23] mcrone commented on #3
@vellamike I should provide more details. I’m compiling on a new Nvidia Jetson Orin development kit.

[2022-05-20 10:23] MarkBicknellONT commented on #3
Hi - this header is part of the koi pre-built library which should be downloaded as part of the cmake configuration process.  Please could you attach the output from the `cmake -S . -B cmake-build` step?  Thanks

[2022-05-20 10:26] MarkBicknellONT commented on #3
Ah, this will explain the problem.  Arm Linux platforms are not currently supported.

[2022-05-20 10:33] adbeggs commented on #3
Okay next issue fighting with CUDA (that's fixed now), but now I am getting:

[code]

[2022-05-20 10:33] adbeggs commented on #3
i.e. I meant another dependency is you need nvcc 11. If you install cuda from the Ubuntu repository you get v10

[2022-05-20 10:41] MarkBicknellONT commented on #3
The dorado/3rdparty/hdf_plugins folder is a submodule which should have been populated during the `cmake -S . -B cmake-build` step. Can you send us the output from that step please? Is there currently *anything* in that folder?

[2022-05-20 10:45] adbeggs commented on #3
No, there's nothing in that folder:

[code]

[2022-05-20 10:56] MarkBicknellONT commented on #3
It looks like none of the submodules are populated for some reason.  It also looks like this is reconfiguring into an existing cmake-build folder.  could you try removing the build artefact folder and then re-running:
[code]

[2022-05-20 10:57] adbeggs commented on #3
Nope, same problem occurs...

[2022-05-20 10:58] MarkBicknellONT commented on #3
how about if you try to update the submodules manually:
`git submodule update --init --recursive``
What output do you get?

[2022-05-20 11:03] adbeggs commented on #3
Before I got your comment I rm -rf'd the directory and started again and it compiled no probs. Will try running it now! Thanks for your help.

[2022-05-20 11:06] adbeggs commented on #3
One final Q - are there R10.4.1 and E8.2 models available for Dorado? Or do I just use the 10.4 / e8.1 models?

[2022-05-20 11:08] MarkBicknellONT commented on #3
There are no E8.2 models available at the moment, but we will be adding more run conditions soon.  You can use `dorado download --list` to see the currently-available models.

[2022-05-20 11:11] adbeggs commented on #3
Success - it's basecalling off the R10.4.1 data we have produced... I will report back

[2022-05-20 11:16] adbeggs commented on #3
First observation - blimey it's fast! Even in SAC mode

[2022-05-20 11:43] iiSeymour commented on #3
@adbeggs Great to hear! I will add the kit 14 models for you tomorrow.

[2022-05-20 11:50] mcrone commented on #3
@MarkBicknellONT any plans for the Linux Arm libraries? 🤞🏻Happy to work with you to get it up and running.

[2022-05-20 11:58] iiSeymour commented on #3
@mcrone we have some Orin devkits and will take a look for you need week.

[2022-05-22 13:56] iiSeymour commented on #3
@adbeggs I've added the latest kit 14 models in https://github.com/nanoporetech/dorado/commit/193b134ab55dfa2f9987b685df5bc908d8dd7eff.

[2022-05-23 08:37] vellamike commented on #3
@vdejager Can you give details of the system (OS & architecture) you are building on.

It looks like you are getting warnings but no errors? _I believe your final build will be OK_, though we do need to resolve these warnings.

[2022-05-23 09:03] vdejager commented on #3
Hi Mike, I'm building on our HPC system with A100's available for GPU, which we also use with Bonito.
Red Hat Enterprise Linux release 8.4 (Ootpa) on AMD EPYCs
(although the modules say its CentOS8)
`
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD EPYC 7F32 8-Core Processor
stepping	: 0
microcode	: 0x830104d
cpu MHz		: 1795.399
cache size	: 512 KB
physical id	: 1
siblings	:

[2022-05-23 09:04] gringer commented on #3
If CUDA is strictly needed, it should be mentioned in the dependencies in `README.md`. If not, then there's another compile issue:

[code]

[2022-05-23 10:50] vellamike commented on #3
@vdejager we haven't yet tested on CentOS - we are going to do this and update the README.

Does `cmake --build` produce the `dorado` binary? Does it work?

It is odd that `ctest` just returns the prompt - does it return nothing at all or report that there are no tests to run?

[2022-05-23 10:52] vellamike commented on #3
@gringer the CUDA dependency is already noted in the `DEV.md` file but we need to make this more clear in the `README.md`

[2022-05-23 10:53] vellamike opened #4 "CentOS builded instructions needed"
As highlighted in #3 , Build instructions for CentOS are required in the README.

[2022-05-24 08:36] gringer commented on #3
Thanks, I see now that it used to be in `README.md`, but was shifted to `DEV.md`

[2022-05-24 11:09] gringer commented on #3
I've been able to install the toolkit now as per the instructions in DEV.md (I additionally added a `CUDAToolkit_ROOT` variable), but it's still not compiling:

[code]
I tried setting the architechture to "70" and "compute_70" (for TITAN V) via `set(CMAKE_CUDA_ARCHITECTURES compute_70)` in `CMakeLists.txt`, bit it's still not compiling:

[code]

Not sure what my next step should be; I'm not very f

[2022-05-24 12:23] mcrone commented on #3
@MarkBicknellONT I think the answer is at the bottom of @gringer ‘s post. He’s trying to build it on a computer that doesn’t have cuda because it doesn’t have an Nvidia card.

[2022-05-24 12:30] vellamike commented on #3
@mcrone it is not necessary to have a GPU on your system to install CUDA. Please be aware that without a GPU basecalling performance will be relatively slow.

[2022-05-24 12:47] vdejager opened #5 "CUDAOutOfMemoryError on A100"
I managed to compile on RedHat/CentOS8, but I'm getting errors with the 'sup' models:
dna_r9.4.1_e8.1_sup@v3.3 and dna_r9.4.1_e8_sup@v3.3

Data is from a: FLO-MIN106 SQK-DCS109           dna_r9.4.1_450bps_hac
An amplicon run, so no prior info other than that it should contain 16s sequences.

the following modes work fine: dna_r9.4.1_e8_hac@v3.3, dna_r9.4.1_e8.1_hac@v3.3, dna_r9.4.1_e8_fast@v3.4 an

[2022-05-24 13:19] vellamike commented on #5
Hi @vdejager - can you try reducing the batch size using the `-b` parameter  to 512 or 256? Dorado currently uses more memory than Guppy and Bonito - this is a known issue we are working on.

There is no model we suggest in particular - the models have an accuracy/speed tradeoff (SUP model being the most accurate and Fast being the fastest).

[2022-05-24 14:17] vdejager commented on #5
I'm running it now with dorado basecaller -b 256 --emit-fastq  ${MODEL} ${DATA_DIR}
with the dna_r9.4.1_e8.1_sup@v3.3 model.
MODEL contains the model used. DATA_DIR contains the directory with fast5 files.

This seems to work on a small fast5 file. I'm going to test it on a bigger dataset to see how it goes.

[2022-05-24 15:49] hasindu2008 opened #6 "Correct parameter format to specify multi-GPUs"
I am trying ot get Dorado running with multiple GPUs. Is  `--device cuda:0,1` the correct way to specify two GPUs? Dorado aborts with the following

[code]

[2022-05-24 15:50] iiSeymour commented on #6
We've yet to add multi-gpu support https://github.com/nanoporetech/dorado#known-limitations

[2022-05-24 15:55] hasindu2008 commented on #6
I saw that but that "likely to work" part gave me some hope :) Perhaps that was meant to be "unlikely to work"?

[2022-05-24 18:50] mjfos2r opened #7 "Assertion failed: (ptr != nullptr), function mtl_for_tensor, file metal_utils.cpp, line 138."
Greetings!
I am currently attempting to use Dorado on my Macbook Pro and running into the title'd issue.
Computer Specs:
[code]
  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro18,3
  Chip:	Apple M1 Pro
  Total Number of Cores:	10 (8 performance and 2 efficiency)
  Memory:	16 GB
  System Firmware Version:	7459.121.3
  OS Loader Version:	7459.121.3
Apple M1 Pro:

  Chipset Model:	Apple M1 Pr

[2022-05-24 19:42] iiSeymour commented on #7
Hey @mjfos2r

Well done on getting a successful build. You are the first to try the experimental metal support afaik 👏🏻 .

The metal support is still very much a work in progress so has some sharp edges as you have found. Currently, we have a limitation of allocating tensors >4GB on macos which is what you are seeing here with the default batch size. Try running with 2 runners and a batch size of

[2022-05-24 23:33] mjfos2r commented on #7
@iiSeymour worked! thanks for the help.

[code]
took almost 2 hours but still. Super excited to see how it improves from here!

[2022-05-25 04:58] gringer commented on #3
@MarkBicknellONT Yes, there is an nvcc there:

[code]

[2022-05-25 09:41] avilella opened #9 "what's the GPU memory utilization rate? Does it depend on read length?"
what's the GPU memory utilization rate? Does it depend on read length?

[2022-05-25 13:44] vdejager commented on #7
nice. Just to  benchmark: a run with amplicon data (reads max 2kb) with 3.625.247 reads and the dna_r9.2.1_e8.1_sup@v3.3 model took about 210 minutes on
the following system:

ThinkSystem SD650-N v2
Intel Xeon Platinum 8360Y (2x),36 Cores/Socket, 2.4 GHz (Speed Select SKU), 250W
NVIDIA A100 (4x),40 GiB HMB2 memory with 5 active memory stacks per GPU
16x32 GiB,3200 MHz, DDR4
512GiB160GiB HMB2(7.111

[2022-05-25 14:08] rdeborja commented on #3
@gringer I'm still working through my installation issues but was able to get by the same CUDA issue you identified using:
[code]

`/usr/local/cuda/bin/nvcc` is the path to the actual binary, I thought symlinks were causing issue so I sent straight to the binary.  Also, I got compile errors and had to switch to a newer version of `gcc`.  Even though my `PATH` was setup to use the newer versions, I

[2022-05-26 09:04] vellamike commented on #9
Hi @avilella - no GPU memory utilisation rate depends on Model, chunk size and batch size but not on read length.

The reason it does not depend on read length is that reads are "chunked" into fixed length segments before being processed by the GPU for performance reasons.

[2022-05-26 09:05] vellamike commented on #5
Thanks @vdejager  - I am closing this issue. When we have updates on memory footprint we will notify in release notes..

[2022-05-26 09:05] #5 closed

[2022-05-26 09:10] vellamike commented on #3
Hi @gringer @rdeborja  can you add `-DCUDA_TOOLKIT_ROOT_DIR=<CUDA ROOT>` to your cmake command? (not to your path)

`CUDA ROOT` should be something like `/usr/local/cuda-11.3`

[2022-05-26 09:24] lxq-iang opened #10 "There was an error while I was executing the command "cmake --build cmake-build --config Release -- -j" in jetson orin"
/dorado/dorado/data_loader/DataLoader.cpp:12:10: fatal error: pod5_format/c_api.h: No such file or directory
   12 | #include "pod5_format/c_api.h"
      |          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.

[2022-05-26 09:39] avilella commented on #9
That's perfect, thank you. I think I can use the batch size to adjust the
basecalling of runs to our cluster of Nvidia cards with 4GB.

Does dorado know how to assign tasks to different GPU node ids?

On Thu, May 26, 2022 at 10:04 AM Mike Vella ***@***.***>
wrote:

[2022-05-26 10:07] vellamike commented on #9
@avilella  at the moment (until Multi GPU is fully working) for assigning tasks to GPUs I suggest you use `--device "cuda:0"` and `export CUDA_VISIBLE_DEVICES=ID` where `ID` is the GPU you want to use.

[2022-05-26 10:07] vellamike commented on #9
@avilella  at the moment (until Multi GPU is fully working) for assigning tasks to GPUs I suggest you use `--device "cuda:0"` and `export CUDA_VISIBLE_DEVICES=ID` where `ID` is the GPU you want to use.

[2022-05-26 10:22] lxq-iang commented on #10
make[2]: *** No rule to make target '../dorado/3rdparty/pod5-0.0.14-Linux/lib64/libarrow.a', needed by 'bin/dorado'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:320: CMakeFiles/dorado.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....
make[2]: *** No rule to make target '../dorado/3rdparty/pod5-0.0.14-Linux/lib64/libarrow.a', needed by 'tests/dorado_tests'.  Stop.
make[1]: *** [CMakeFiles

[2022-05-26 11:17] gringer commented on #3
It doesn't help; there's no difference in the final error, but I notice that the prior output does mention the CUDA root directory:

[code]

[2022-05-26 12:02] vellamike commented on #10
Hi @lxq-iang  - we do not currently support ARM devices, we plan to in future and we will update release notes when this changes.

[2022-05-26 12:14] lxq-iang commented on #10
ok, @vellamike thank you for your answer, I look forward to receiving support for ARM devices soon.

[2022-05-27 16:48] vellamike commented on #9
Closing this issue as I believe it's resolved. @avilella  please reopen it if you have any more queries.

[2022-05-27 16:48] #9 closed

[2022-05-29 09:25] thomasvangurp opened #12 "Building on mac osx"
I'm going to document what I ended up installing on my m1 macbook pro max to compile dorado:

## 0. Packages installed using brew
- cmake
- openssl
- hdf5

## 1. Xcode installation and profile switch for being able to use metal
You need to download and install Xcode, i would recommend downloading it directly from https://developer.apple.com/download/all/ instead of  installing it from the App stor

[2022-05-29 09:35] thomasvangurp opened #13 "Failed to find the kernel: lstm_simd_768_fwd_16"
Using dorado version  `0.0.1a0`.
  I've successfully built dorado on my mac, downloading basecaller models works. I do however get the following error for the super accurate model:
[code]

[2022-05-29 09:39] thomasvangurp opened #14 "Assertion failed: (ptr != nullptr), function mtl_for_tensor, file metal_utils.cpp, line 138."
When using either `dna_r9.4.1_e8.1_hac@v3.3` or `dna_r9.4.1_e8_hac@v3.3` i get
[code]

[2022-05-29 09:42] thomasvangurp commented on #14
the 'fast' models `dna_r9.4.1_e8_fast@v3.4` and `dna_r9.4.1_e8.1_fast@v3.4` do yield results!

[2022-05-29 10:12] iiSeymour commented on #14
Hey @thomasvangurp

See https://github.com/nanoporetech/dorado/issues/7#issuecomment-1136361936... for `fast` models I'd recommend `-b 1536 -r 2` and for `hac` `-b 384 -r 2`.

[2022-06-02 20:05] iiSeymour commented on #14
close as a duplicate of https://github.com/nanoporetech/dorado/issues/7

[2022-06-02 20:05] #14 closed

[2022-06-02 20:10] iiSeymour commented on #7
@mjfos2r @thomasvangurp we've just dropped a performance patch for m1  10bf86e7c4e94b66fef68a9aa59a5267aeca0385 . Should be a nice improvement with `hac` models - suggested params right now are `-r 2 -b 1536` for `fast` and `-r 2 -b  768 -c 4000` for `hac`.

More to come.

Chris.

[2022-06-02 22:28] iiSeymour commented on #3
I think we've sorted all of the issues here now 🎉

[2022-06-02 22:28] #3 closed

[2022-06-03 02:07] hasindu2008 opened #20 "Is the dependent package koi going to be released open source?"
Dorado seems to depend on koi from ONT https://github.com/nanoporetech/dorado/blob/master/cmake/Koi.cmake. Is this going to be released as open-source at one point or will it remain closed?

[2022-06-03 05:35] vellamike commented on #20
At the present time the Koi implementation is released as a precompiled library. This may change in the future but not as part of our immediate roadmap.

[2022-06-03 05:35] #20 closed

[2022-06-04 03:15] mjfos2r commented on #7
@iiSeymour so I used the same data as the successful run above and attempted to output as fastq and got this.
[code]
re-running now with output as .bam, will update with results.
mem usage was consistently 80-85% and core util was less than 40% for any one core the entire time.

[2022-06-06 06:39] hiruna72 commented on #20
Hello,

Are precompiled libraries for `arm` processors available?

[2022-06-06 06:44] vellamike commented on #20
Currently they are not but this will shortly be available.

[2022-06-14 12:55] hamid89 opened #21 "Error 2"
Hell guys,

Hope you are doing well. I am on the configuration step as mentioned in clone and build section 'cmake --build cmake-build --config Release -j' I come across the following error.

home/hamid/dorado/dorado/utils/sequence_utils.cpp: In function 'float utils::mean_qscore_from_qstring(const string&)':
/home/hamid/dorado/dorado/utils/sequence_utils.cpp:17:10: error: 'transform' is not a mem

[2022-06-14 13:15] hamid89 commented on #21
``home/hamid/dorado/dorado/utils/sequence_utils.cpp: In function 'float utils::mean_qscore_from_qstring(const string&)':
/home/hamid/dorado/dorado/utils/sequence_utils.cpp:17:10: error: 'transform' is not a member of 'std'
     std::transform(qstring.begin(), qstring.end(), std::back_inserter(scores),
          ^~~~~~~~~
gmake[2]: *** [CMakeFiles/dorado_lib.dir/build.make:258: CMakeFiles/dorado_li

[2022-06-14 13:16] hamid89 commented on #21
`home/hamid/dorado/dorado/utils/sequence_utils.cpp: In function 'float utils::mean_qscore_from_qstring(const string&)':
/home/hamid/dorado/dorado/utils/sequence_utils.cpp:17:10: error: 'transform' is not a member of 'std'
     std::transform(qstring.begin(), qstring.end(), std::back_inserter(scores),
          ^~~~~~~~~
gmake[2]: *** [CMakeFiles/dorado_lib.dir/build.make:258: CMakeFiles/dorado_lib

[2022-06-14 17:06] iiSeymour commented on #21
@hamid89 I've just pushed a52fd9efda854e99d47fe47fa7ed857b66681b83 which should fix the first error.

What OS are you building on?

[2022-06-15 09:59] iiSeymour commented on #21
It appears the `libhdf5` you are using from `miniconda` is the other problem. Are you able to get `libhdf5` from the system package manager?

[2022-06-18 14:24] andreaswallberg opened #22 "Are PromethION models implemented?"
I just compiled the tool successfully on Ubuntu 20.04 (I just needed to upgrade cmake to 3.20.0) and was thinking to give it a try.

We have PromethION data, which in Guppy is represented by these parameters:

`FLO-PRO002     SQK-LSK110                  dna_r9.4.1_450bps_hac_prom     2021-05-05_dna_r9.4.1_promethion_384_dd219f32`

Do any of the currently available models in Dorado apply to this da

[2022-06-18 14:37] vellamike commented on #22
The dorado models we provide work with data from all sequencers. You can download data using the command `dorado download` which will produce an output like this:

[code]

In your case (based on the example you gave) the model you need is `dna_r10.4.1_e8.2_hac@v3.5.1`

[2022-06-18 15:19] andreaswallberg commented on #22
May thanks!

Just to double-check, you recommend `dna_r10.4.1_e8.2_hac@v3.5.1` and not any of the dna_r9.4.1 hac ones?

[2022-06-18 15:26] vellamike commented on #22
Sorry that was an error on my part. You should use the r9 one.

[2022-06-29 15:12] iframst opened #24 "unstable CPU frequency M1 pro with metal"
I have successfully built and run dorado on M1 pro thanks to these threads: https://github.com/nanoporetech/dorado/issues/12#issue-1251836780 https://github.com/nanoporetech/dorado/issues/7#issuecomment-1146512993

There are a few memory limitations with metal it seems, but hey this is still great performance for pre-alpha.

I noticed the CPU frequency is quite unstable, and although not detriment

[2022-06-29 17:11] iframst commented on #24
@vellamike Great! Thanks. Testing lots with the M1 pro 16GPU/32gb today. Will report back if anything interesting happens.

[2022-06-29 17:11] #24 closed

[2022-06-30 20:18] rdeborja commented on #21
@hamid89 I ran into the same issues as you on our cluster.  I tried compiling `dorado` using dependencies from source and installed from `conda`, nothing worked. I eventually got our sys admin to install the required linux dependencies using `apt install` and everything installed/compiled successfully.  I'm testing it now but will return to the "from source/conda" installation to see if I can get

[2022-07-01 03:47] hasindu2008 opened #25 "Dorado performance compared to Guppy"
Are there any parameters that could be tuned on Dorado to get equivalent performance on Guppy?  I have been running them on a server with SSD with Tesla V100-16GB GPU and Dorado seems to be 1.5-2.5X slower depending on the model. See the commands I used and the runtimes below:

**FAST model (dorado ~2.5X slower)**
ont-guppy-6.1.1/bin/guppy_basecaller -i fast5/ -s fastq_fast1/ -c dna_r9.4.1_e8.1_fa

[2022-07-03 03:46] hasindu2008 commented on #25
Unfortunately, that made the runtime worse - increasing the runners to 2 and halving the batch size to cap memory.

FAST model: 1:08:56
HAC model: 1:47:08
SUP model: 7:36:31

[2022-07-04 07:05] vellamike commented on #25
I think the workloads you are using to measure performance are too small.
As a general rule when benchmarking (any application not just in
bioinformatics) you need a workload sufficiently large to make the startup
and shutdown times small.

Could you give some more information about the system you are working on,
full command’s, and your full benchmarking setup? If you could also send
some Nsight

[2022-07-04 07:50] vellamike commented on #25
Yes that should definitely be enough! Are you running the benchmarks with
input files on networked storage?

On Mon, 4 Jul 2022 at 08:21, Hasindu Gamaarachchi ***@***.***>
wrote:

[2022-07-04 08:02] hasindu2008 commented on #25
As I have stated in the very first message:  "I have been running them on a server with SSD with Tesla V100-16GB GPU". Actually it is NVME SSD as I have put the spec from smartctl in the second message. The goal was to benchmark the base-calling performance without IO.

[2022-07-04 09:18] vellamike commented on #25
Could you provide some Nsight Systems traces for the kernel executions?

The reason I was wondering about IO is that It's very surprising to me that the 2 runners vs 1  would cause a slowdown in performance. What samples/s performance is Dorado reporting?

[2022-07-04 09:31] hasindu2008 commented on #25
Could you please tell me the command to collect night systems traces using the commandline? I have done using nvvp in the past which is now deprecated I believe?

[2022-07-04 13:36] vellamike commented on #25
That would be `nsys profile <command>` - you probably want to run the profile on a small subset of data (2 minutes worth). It will produce a file with a `qdrep` extension which you then open in Nsight systems. You also may need to [install Nsight Systems](https://developer.nvidia.com/nsight-systems) if it's not on your server already.

Could you let me know what speed Dorado is reporting in terms

[2022-07-05 05:28] hasindu2008 commented on #25
Hey Mike,

DId for a 20,000 reads with 2 num runners using HAC model:
[code]

Then for the same dataset, the profiling was done and the file is attached.
[code]

https://www.dropbox.com/s/mswp8vl94slq2w1/report1.qdrep.gz?dl=0

[2022-07-05 10:54] vellamike commented on #25
Thanks @hasindu2008 - could you confirm which version of Nsight systems you are using to generate the qdrep? I am trying to view the timeline with Nsight Systems 2022.2.1 (Latest version) and seeing the following error:

[code]

[2022-07-06 01:55] hasindu2008 commented on #25
[code]

[2022-07-12 02:06] gbouras13 commented on #13
Mac M1 dorado v 0.0.1, identical error for me

[2022-07-16 22:40] mshamash opened #26 "M1 Pro: "Metal command buffer execution failed: 5, try #2...""
I'm testing out Dorado on my M1 Pro 14" MacBook Pro using ~14GB of fast5 files from a Lambda phage dataset I found [here](https://gannet.fish.washington.edu/Atumefaciens/20200107_nanopore-minION_lambda_test/20200107_2035_MN29908_FAL48614_885ed0db/fast5_pass/) and after ~15min of runtime, I am getting a bunch of "Metal command buffer execution failed" errors being written to stdout:

[code]

They d

[2022-08-01 22:34] singagan opened #27 "Compilation Error: conflicting declaration"
Hi,
I am trying to install dorado.
I get the below error while running:
`cmake  --build cmake-build --config Release -j`

[code]

[2022-08-02 08:07] singagan commented on #27
Hi,
I fixed this issue.
There was a mismatch in hdf5 version.
I successfully compiled dorado, but while running the basecaller I got following error:

[code]

[2022-10-05 12:59] iiSeymour commented on #13
Fixed in https://github.com/nanoporetech/dorado/commit/fcc230e194d2a261f54dfa39d59fe9ab896e70d0

[2022-10-05 12:59] #13 closed

[2022-10-05 13:01] #26 closed

[2022-10-05 13:03] iiSeymour commented on #7
The `-r, -b- c` parameters are all set correctly in the latest release along with some performance optimisation.

[2022-10-05 13:03] #7 closed

[2022-10-05 13:10] iiSeymour commented on #25
Performance has been significantly increased since July across the board so you should now see dorado on par or better than guppy.

[2022-10-05 13:11] iiSeymour commented on #27
Hi @singagan can you try with the latest release.

[2022-10-05 13:12] iiSeymour commented on #21
Prebuilt binaries are now available - see https://github.com/nanoporetech/dorado#installation

[2022-10-05 13:12] #21 closed

[2022-10-05 13:12] iiSeymour commented on #12
Thanks @thomasvangurp - we have made builds available now https://github.com/nanoporetech/dorado#installation

[2022-10-05 13:12] #12 closed

[2022-10-05 14:16] pwh124 opened #28 "Software download issues"
Hello,

The link address for software download works when I click to download but does not work with wget.

I would like to be able to download straight to our server if possible.  Linux address is shown as "https://nanoporetech.box.com/shared/static/h8eqc9htxk938jzpl4fch2rqlm48yeb0.gz"

Paul

[2022-10-05 17:49] iiSeymour commented on #28
Hey @pwh124 the links are direct links and do work with `wget`.

[code]

Maybe your version of `wget` isn't following redirects or your network is intercepting? What exactly do you see?

[2022-10-05 23:45] billytcl opened #30 "What about AMD cards?"
Are there any plans to support AMD/OpenCL with Dorado?

[2022-10-06 02:18] pwh124 commented on #28
`wget` successfully downloads the ".gz" file. So I tried to `gunzip` it, leaving me with "h8eqc9htxk938jzpl4fch2rqlm48yeb0" to which I could not move into.

When I ran `file h8eqc9htxk938jzpl4fch2rqlm48yeb0`:
`h8eqc9htxk938jzpl4fch2rqlm48yeb0: POSIX tar archive`

`mkdir dorado & tar -xvf h8eqc9htxk938jzpl4fch2rqlm48yeb0 -C dorado` completely decompresses the dorado directory then.

I think renamin

[2022-10-06 11:25] vellamike commented on #30
There are currently no plans to support AMD GPUs.

[2022-10-06 11:25] #30 closed

[2022-10-06 11:25] iiSeymour commented on #28
Good point, agreed.

[2022-10-08 10:12] iiSeymour commented on #28
All links have been updated in the readme and now have the correct extensions.

[2022-10-08 10:12] #28 closed

[2022-10-11 06:46] vdejager opened #31 "docker image available?"
I'm still experiencing issues compiling dorado on our HPC. I'm wondering if there is a Docker or Singularity image available with the latest builds? We can run those images on our GPU nodes.

target: Intel + Nvidia A100

[2022-10-11 08:59] ziphra opened #32 "output metadata"
Hello,

I would like some insights on the sam output metadata to perform quality checks on the basecalled data, and I am not sure I am guessing all of them right.

Also, what would you recommend to filter out bad reads?

Thank you,

ziphra

[2022-10-11 12:05] avilella commented on #9
I kicked of dorado on a simulated dna_r9.4.1_e8_fast@v3.4 dataset using an NVIDIA RTX A4000 (16GB VRAM) GPU.

The memory usage with the different `--batchsize N` options is shown below:

[code]

So `--batchsize 2000` is the optimal for a 16Gb VRAM Nvidia GPU. Full command-line:

[code]

[2022-10-11 20:13] vellamike commented on #9
Maximising the utilised VRAM with the biggest possible batch size to increase performance is a good rule of thumb, but not necessarily something which always works. For example it is often the case that good batch sizes are powers of two or integer multiples of powers of two.

[2022-10-15 16:48] martinleach opened #33 "macos binary - quits on startup"
downloaded the binary for a mac (chipset: Apple M1 Max) - OS: Monterery 12.5.1

I get this error when calling dorado from command-line

dyld[7721]: Library not loaded: '/opt/homebrew/opt/libaec/lib/libsz.2.dylib'

any suggestions?

[2022-10-15 17:06] martinleach commented on #33
after digging

brew install hdf5

added in the necessary libraries and allowed dorado to run
suggest including these libraries or adding a pre-req to install/update hdf5

[2022-10-16 20:48] christopher-vollmers opened #34 "Bonito vs dorado"
Hi,

Does dorado use the same models and/or produce the same baseballs as bonito?
The models seem to have very similar names and version numbers.

Best,
Chris

[2022-10-16 23:59] vellamike commented on #34
Hi, yes the models with the same name are the same models.

On Sun, 16 Oct 2022 at 21:49, christopher-vollmers ***@***.***>
wrote:

[2022-10-17 04:45] christopher-vollmers commented on #34
Thank you for letting me know!

[2022-10-17 08:50] vellamike commented on #34
I just realised I didn't fully answer your question - they are the same models and they produce the same basecalls. There might be some small differences due to small implementation differences but these are expected to be minor.

[2022-10-17 08:50] #34 closed

[2022-10-17 08:52] vellamike commented on #33
@martinleach  thank you for identifying this issue and reporting your solution. We are currently working on making Dorado installation more smooth so this is very useful. I will keep this issue open until this has been resolved.

[2022-10-17 08:55] vellamike commented on #31
Hi @vdejager  - we are now providing binary releases - see under [the installation section of the readme](https://github.com/nanoporetech/dorado#installation). Perhaps you could try this? We currently have no plans to provide containers and are focusing on providing easy-to-use binaries.

[2022-10-17 08:55] #27 closed

[2022-10-17 08:55] #25 closed

[2022-10-17 13:51] vdejager commented on #31
thanks. How often will you build the executables?

[2022-10-17 14:01] vdejager commented on #33
thanks @martinleach , this was very helpful indeed.

[2022-10-17 21:15] vdejager opened #35 "Reads basecalled: Metal command buffer execution failed"
Om MacOS M1 with 16 GB memory I get

dorado basecaller --emit-fastq ~/bin/dorado-0.0.1+4b67720-Darwin/bin/dna_r9.4.1_e8_sup@v3.3 ./fast5 | gzip > run1.fastq.gz

Metal command buffer execution failed: 5, try #1
Metal command buffer execution failed: 5, try #2

etc. etc.
what can I do to solve this?

[2022-10-18 03:15] christopher-vollmers commented on #34
Very cool. Thank you for the additional information. Looking forward to trying this on a Mac.

[2022-10-18 08:42] vellamike commented on #31
Going forward we will build an executable with every release, a release being a collection of functional improvements to performance, usability, feature set etc. We don't yet have a fixed release cycle but expect this will be very roughly on an "every few months" basis.

[2022-10-18 08:45] mcrone opened #36 "Jetson Orin Support"
I was just hoping to get an update on Jetson Orin support. It was identified as being a focus just after the initial release of Dorado, but there has been no update since then. When are we likely to get support for the Jetson Orin?

[2022-10-18 08:48] vellamike commented on #35
Hi @vdejager  - are basecalls actually produced or is this error preventing that from happening?

[2022-10-18 08:52] vellamike commented on #36
FYI @EpiSlim

Hi @mcrone,

We are currently investigating how to get this to work. Apologies for the delay with this feature. If you have urgent work which this is blocking please write to us (mike dot vella at nanoporetech dot com).

[2022-10-20 00:00] oneillkza opened #37 "Error - no kernel image is available for execution on the device"
I'm just trying out Dorado on our GPU cluster, and it seems to output many (tens of thousands for a single fast5 file so far) instances of the error message:

[code]

It looks like this might be related to pytorch versions: https://github.com/pytorch/pytorch/issues/31285

nvidia-smi says the server I was running on has:      Driver Version: 460.84       CUDA Version: 11.2

[2022-10-20 11:26] iiSeymour commented on #37
Hey @oneillkza can you also let us know what GPU you are seeing this with.

[2022-10-20 17:05] oneillkza commented on #37
This is on a 1080 (maybe 1080Ti -- not 100% sure).

Would that be too old for Dorado? I know we found that some Titan RTX cards we had were too old for Guppy.

The rest of our GPU compute cluster has much more recent cards, mainly 3090s. I can see if Dorado works better one those.

[2022-10-20 17:09] iiSeymour commented on #37
Ah yes the 1080 is Pascal which is too old - please do try on the 3090s.

[2022-10-20 17:35] oneillkza commented on #37
Yep, seems to be working there. What architecture is the minimum required by Dorado? We do also have a handful of nodes with Turing cards (2080, RTX5000) on our cluster, although it's not the end of the world if we have to restrict Dorado to running on the 3090s.

[2022-10-20 18:01] iiSeymour commented on #37
Volta onwards so Turing cards will also work.

[2022-10-20 19:01] oneillkza commented on #37
Thanks!

Could I suggest mentioning this requirement in your documentation? I know it wasn't very well documented for guppy, and ended up causing us a lot of frustration when we tried to get it to work on the Titan GTXes. We had to find an obscure third-party blog post about it before figuring it out in that case ...

Otherwise it should be fine to close this issue. :)

[2022-10-20 19:34] oneillkza opened #38 "Remora support?"
What's the timeline for getting support for modified basecalling models in Dorado?

(Or is this possible already?)

[2022-10-21 15:09] itslittman opened #39 "RNA model?"
I listed the models available but I see no RNA models? Are they not available yet/if so when are they coming?

[2022-10-24 16:16] husamia opened #40 "Download models code 200"
When I run the windows executable for dorado to download a specific model. or even all models using or not using --directory option the files are no where to be found in the folder.

Command:
`c:\dorado-0.0.1+4b67720-win64\bin>dorado.exe download --directory C:\dorado-0.0.1+4b67720-win64\models --model dna_r9.4.1_e8_sup@v3.3`

output
` downloading dna_r9.4.1_e8_sup@v3.3 [200]
`
does this [200] mea

[2022-10-27 06:57] sklages commented on #38
Well, listed under "Features":

- **Modified basecalling (Remora models)**.

[2022-10-27 19:11] oneillkza commented on #38
Hmm -- yep it does look like the -h suggests this might be possible, although it's not very informative as to what format it wants the remora models in...

[code]

When I try to pass it an .onnx from the Remora repository, it treats it like a directory that should contain a .toml file.

[code]
But there are no toml files in the Remora repository, or in rerio, and none for the basecall models distr

[2022-10-27 21:57] oneillkza commented on #40
In general, code 200 in an HTTP request means a successful download.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200

[2022-10-27 22:20] husamia commented on #40
There are no files created in the folder. Whats the URL for the config
files, I might download them some other way.

On Thu, Oct 27, 2022 at 5:57 PM oneillkza ***@***.***> wrote:

[2022-10-28 16:56] derekstein opened #41 "AttributeError: module 'collections' has no attribute 'Iterable'"
Hi, I have been trying to install dorado but am getting what I think is a dependancy error. This is what I am seeing ... I have a feeling it has to do with the depreciation of collections.Iterable to collections.abc.Iterable. However I am not sure how to fix this error!

Discarding https://files.pythonhosted.org/packages/4e/a6/4a1576e4a51b10b4b7440cbd36fc3c71fb69fb634672ce0725de614182ca/astropy-4.

[2022-10-29 20:19] iiSeymour commented on #40
@husamia I suspect we have a Windows path issue; I will take a look.

The URLs can be found here https://github.com/nanoporetech/dorado/blob/master/dorado/models.h

[2022-10-29 20:21] iiSeymour commented on #38
I will get `dorado download` supporting mods models over the next few days.

[2022-10-29 20:21] #37 closed

[2022-11-01 06:19] oneillkza commented on #38
Thanks! Looking forward to it!

[2022-11-03 13:48] marcpaga opened #43 "Live basecalling benchmark on Apple silicon chips"
We would like to do some live basecalling outside of the lab, and we were thinking of getting an Apple Macbook with Apple silicon since dorado is compatible with those. We want to do basecalling in real time as we are sequencing with a MinION device. We are considering any of the M1 Pro, M1 Max and M2 chips.

We would like to know if you have benchmarked any of these chips in a live basecalling si

[2022-11-04 14:34] derekstein commented on #43
I don't have an answer to this but have at M1 Max and am hoping for a similar analysis!

[2022-11-04 15:23] derekstein opened #44 "multiplexing workaround?"
What the work around for no multiplexing functionality or alignment if your running an M1 Mac ?

[2022-11-04 16:25] ziphra commented on #32
Also, I believe this command `dorado basecaller dna_r10.4.1_e8.2_260bps_hac@v3.5.2 pod5s/ | samtools view -Sh > calls.bam` in the README will output a sam file, and that `-b` would allow bam outputs.

[2022-11-08 15:58] iiSeymour commented on #40
Model downloading on Window was fixed in 9caa9642b34d0961554b49f5445f399d93f52d40

[2022-11-08 23:59] edoyango opened #45 "Dorado basecaller significantly slower than guppy_basecaller on A30 and A100 GPUs"
Hi,

I've been investigating using Dorado instead of Guppy on behalf of researchers at my institute.

I've been comparing Dorado's performance with Guppy with pea DNA using the following commands:
[code]
dorado processes the data at 2.8365e6 samples/s on 1x A30 GPU
guppy processes the data at 3.2495e6 samples/s on 1x A30 GPU

i.e. dorado is ~15% slower. The data in pod5 format didn't result in a m

[2022-11-09 18:22] billytcl commented on #34
Just adding onto this -- if I train a refined bonito model, is it compatible with dorado?

[2022-11-09 18:35] iiSeymour commented on #34
yes @billytcl you can export your model from bonito with `bonito export --format dorado <refined-model>` and this will create a dorado compatible copy of the weights in the model directory.

[2022-11-10 16:12] vellamike commented on #45
Hi @edoyango

We haven't benchmarked on A30, but somewhat surprised that you are observing Dorado to be slower on A100. I have some suggestions:

0. Only use POD5
1. Could you try our latest pre-built dorado release -  [v0.0.2](https://github.com/nanoporetech/dorado/releases/tag/v0.0.2)
2. What is the absolute speed you are observing on A100 for the HAC as well as SUP model?
3. What is the read le

[2022-11-10 16:14] vellamike commented on #44
Right now this is something we're working on, in the meantime I'm afraid the solution would be to use Linux or Windows.

[2022-11-10 16:15] vellamike commented on #40
@husamia  this has been fixed with the[ release of Dorado v.0.0.2](https://github.com/nanoporetech/dorado/releases/tag/v0.0.2)

[2022-11-10 16:18] vellamike commented on #41
You are trying to install the python astronomy-package [Dorado](https://dorado.readthedocs.io/en/stable/dorado/index.html) which is completely unrelated to the C++ Oxford Nanopore basecaller by the same name. Which package are you intending to install?

[2022-11-10 16:18] #41 closed

[2022-11-10 16:19] vellamike commented on #39
RNA models are coming, but presently not part of Dorado. I'm afraid I can't give you an ETA.

[2022-11-10 16:22] vellamike commented on #4
@vdejager could you try this again? We've made many improvements to install ability since June.

[2022-11-10 16:23] #40 closed

[2022-11-10 17:31] oneillkza commented on #38
Thanks @iiSeymour !

[2022-11-10 22:00] jcolicchio-soundag commented on #38
Does this also work using the rerio remora all cytosine context model?

[2022-11-11 04:59] edoyango commented on #45
Hi @vellamike,

thanks for the suggestions. Below are results with 1x A100. Dorado is using pod5 files and is built from the v0.0.2 release.

Looks like with the HAC model both guppy and dorado perform similarly.

I'm not sure how to comment on the input dataset - I don't have a biological science background and the researcher most familiar with the data is not around to answer.

SUP
[code]
[code]

[2022-11-11 14:22] vellamike commented on #45
@edoyango are you using the released binaries, or compiling yourself from source?

[2022-11-11 17:38] femiliani opened #46 "Dorado 'Failed to open pod5'"
Trying to run dorado with pod5 gives me this error: `Failed to open file ./pod5/output.pod5: IOError: Unknown embedded file type`

I converted my fast5 to pod5 with:
`pod5-convert-from-fast5 fast5_pass/ pod5`
When running dorado (new binary) with the pod5 i get the error (full output below). Running it with fast5 works fine, and inspecting the pod5 with `pod5-inspect` throws no errors.

Thanks for

[2022-11-11 18:38] iiSeymour commented on #46
Hey @femiliani

Did you just convert this file with the latest release (0.0.41)? If so we need to upgrade our pod5 dependency to the latest version. I will sort this on Monday,

Regards

[2022-11-11 18:56] femiliani commented on #46
@iiSeymour  I did indeed use the latest pod5 release, thanks for catching the problem, really excited to see where dorado is headed! Enjoy the weekend!

[2022-11-12 00:54] edoyango commented on #45
@vellamike I'm compiling from source - I might've missed it, but I couldn't find any prebuilt binaries on the repo. The link you posted before only had the source code in .zip and .tar.gz.

[2022-11-12 01:03] vellamike commented on #45
Here are links for our released binaries (in retrospect, seems obvious we should be putting them in the Release notes...)

https://github.com/nanoporetech/dorado#installation

[dorado-0.0.2-linux-x64](https://cdn.oxfordnanoportal.com/software/analysis/dorado-0.0.2-linux-x64.tar.gz)
[dorado-0.0.2-osx-arm64](https://cdn.oxfordnanoportal.com/software/analysis/dorado-0.0.2-osx-arm64.tar.gz)
[dorado-0.

[2022-11-12 01:07] edoyango commented on #45
Ah I brainfarted and assumed those were links to source code (which wouldn't make sense because they have OS-arch in the name)

Anyway, I'll try them out on Monday when I'm back at work.

[2022-11-12 20:50] iiSeymour commented on #46
Thanks for flagging this @femiliani it really should have been supported in v0.0.2 🤦🏻

Resolved with [v0.0.3](https://github.com/nanoporetech/dorado/releases/tag/v0.0.3).

[2022-11-12 20:50] #46 closed

[2022-11-13 22:07] edoyango commented on #45
Hi @vellamike, results using the prebuilt binaries:
SUP:
[code]
HAC:
[code]
A small improvement.

Some inormation about the input data from the researcher:

[2022-11-14 16:32] jeplb opened #47 "FASTQ output for Dorado has missing '+' symbol"
I was trying to debug my script that parses FASTQ files and I noticed that Dorado's FASTQ output is missing a '+' symbol after each read.

Example output:
[code]

[2022-11-14 16:36] vellamike commented on #47
I think this is SAM output? Are you running with `--emit-fastq` ?

[2022-11-14 16:38] iiSeymour commented on #47
@jeplb dorado is SAM first and if you need to set `--emit-fastq` for fastq output.

[2022-11-14 18:59] jeplb commented on #47
Thanks! That solved the issue.

[2022-11-14 19:15] #47 closed

[2022-11-16 15:37] cjw85 commented on #31
A docker image is now available at: https://hub.docker.com/r/nanoporetech/dorado

We will have native singularity images shortly.

[2022-11-16 15:37] #31 closed

[2022-11-17 17:37] iiSeymour commented on #38
@jcolicchio-soundag not yet.

[2022-11-18 00:47] edoyango commented on #45
@vellamike Here is a link with a small sample of the original fast5 pea dna data:
https://wehieduau-my.sharepoint.com/:f:/g/personal/yang_e_wehi_edu_au/EofQaH5qQhVNsuupH2npVn0Bj82LCOKwrY3MM9gU32_uDQ?e=Yu4b3q
The link will expire next friday. Let me know if you have issues downloading it.

When testing, I converted the fast5 files to pod5 with the `pod5-format-tools` package.

[2022-11-20 19:16] lucapandolfini opened #48 "PromethION-MinION models"
I would like to know whether we can use the currently available dorado models for both PromethION and MinION runs, since I don't see any distinguishing tag (e.g. "_prom" in guppy). Or are they specific for either platform?
Thank you very much!

[2022-11-20 19:39] vellamike commented on #48
Yes! there yes no difference and you can use the models for both PromethION and MinION data.

[2022-11-20 19:41] lucapandolfini commented on #48
Awesome thanks!

[2022-11-20 19:41] #48 closed

[2022-11-21 10:42] adbeggs opened #49 "Embarassing problem!"
Hi, I am trying to get Dorado working on our HPC A30/A100's:

` ~/beggsa-clinicalnanopore/software/dorado/bin/dorado -v basecaller dna_r10.4.1_e8.2_400bps_sup@v3.5.2 pod5/`

All I get is the binary starting and displaying:

`0.0.3+09107cc`

And then stopping!

Any clues as to what I am doing wrong. I've pointed it to the model folder (shortened here for brevity) and there is a pod5 file in the pod

[2022-11-21 10:45] iiSeymour commented on #49
Hey @adbeggs

So `dorado -v` displays the version and `dorado basecaller -v` sets the verbose flag so you just need the flag after the subcommand _(basecaller)_.

[2022-11-21 10:46] adbeggs commented on #49
Hi @iiSeymour thank you! Had just worked this out after you posted it!

[2022-11-21 10:49] adbeggs commented on #49
ALthough saying that now I am getting

[code]

[2022-11-21 11:28] vellamike commented on #49
Hello @adbeggs,

Can you run

[code]

[2022-11-21 11:37] adbeggs commented on #49
Sure:

[code]

[2022-11-21 11:43] iiSeymour commented on #49
Ah yep most libraries are linking against the versions in the `dorado/lib` directory but `libcublasLt` is getting picked up from `/rds/bear-apps/2020b/EL8-has/software/CUDAcore/11.1.1/lib/` so this looks like a `LD_LIBRARY_PATH` issue.

Can you either remove that path from `LD_LIBRARY_PATH` or include `/rds/projects/b/beggsa-clinicalnanopore/software/dorado/lib` before it.

[2022-11-21 11:59] adbeggs commented on #49
@iiSeymour Success! Thanks

[2022-11-23 10:13] Krannich479 opened #50 "[Question] Best practice after successful dorado run"
Hi,
I managed to successfully run dorado on some POD5 files and piped them into BAM format. While I understand dorado as work in progress and appreciate this design choice for its compact standard file format and comparably small memory footprint I was wondering: is there an application you have in mind for downstream processing without going the route of intermediate FASTQ files? In detail, now t

[2022-11-23 14:04] Krannich479 commented on #50
Thanks for the hint!

[2022-11-23 14:17] #50 closed

[2022-11-26 16:54] #49 closed

[2022-11-28 02:53] edoyango commented on #45
Hi @vellamike

Touching regarding the test dataset I provided over a week ago. Has your team managed to get a copy?

[2022-11-28 12:18] iiSeymour commented on #45
yes, we have copy thanks @edoyango and will have an update soon.

[2022-11-28 13:56] Kirk3gaard commented on #45
I have also found dorado (.0.0.3) to be slower than guppy (6.4.2) on our RTX2080 GPUs (https://twitter.com/kirk3gaard/status/1597192469212381185). However, it still ran very well and right out of the box which is a great plus for an early release :D.

pod5 and fast5 file used in my test including the basecalled fastqs are available here: https://www.dropbox.com/sh/v7wq5r8xnrri7ti/AAA3CbwW6uutJQl-1

[2022-11-28 15:16] iiSeymour commented on #45
Thanks for the feedback @Kirk3gaard we have some nice speed-ups coming in the next release.

On top of that we have found that the batchsize we automatically select is particularly suboptimal on pre-ampere cards.

<img width="1018" alt="Screenshot 2022-11-28 at 14 22 47" src="https://user-images.githubusercontent.com/4310904/204301251-b1ad977f-8ac0-4c90-a089-4c64ebbff1bc.png">

I am fixing this no

[2022-11-29 19:40] Daniel-Tichy opened #51 "[error] [error] key "qscore" not found in the top-level table while trying to perform basecalling with 5mCG models"
Hi, I am writing to check if I am doing something wrong, I have tried to look up for more documentation but it seems this github is all that there is about dorado.

I installed dorado in a Windows 10 PC and it works fine with the normals models 10.4 fast, hac and sup. But when I try to perform the same process over the same data but with the modified bases models I get this error.
[code]
Thank you

[2022-11-29 22:19] iiSeymour commented on #51
Hi @Daniel-Tichy

The modification models augment the canonical model. You need specific a canonical model as the first argument and the mods model with `--remora-models`. This API will be simplified soon, see https://github.com/nanoporetech/dorado/issues/38#issuecomment-1310566995 for more details.

HTH

[2022-11-30 09:26] hasindu2008 opened #52 "Dorado for selective sequencing"
We are interested in using Dorado to basecall during selective sequencing. Is there a server client feature like it is there for Guppy?

[2022-11-30 11:13] vellamike commented on #52
Hi @hasindu2008,

Adaptive sampling/selective sequencing is enabled in MinKnow via Guppy. We recommend Dorado for offline basecalling applications.